!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %title Panda Plunder 
    %link{:href => "/assets/kandi.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/jquery.2.1.1.min.js", :type => "text/javascript"}
    %script{:src => "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js", :type => "text/javascript"}}
  %body
    .wrapper
      .sound.sound-off
      #menu
        #progress
          #percent
            Downloading:
            %span#p
          %progress#progress-bar{:value => "0"}
        #main
          %h1 Panda Plunder 
          %ul
            %li
              %a.button.play{:href => "javascript:void(0)"} Start Game
            %li
              %a.button.credits{:href => "javascript:void(0)"} Credits
        #credits
          %ul
            %li.artwork
              Art:
              %a{:href => "https://github.com/xerogenesis"} Marshall Capozziello
          %ul
            %li.developer
              Developer:
              %a{:href => "https://github.com/mzaragoza"} Moises Zaragoza
          %a.button.back{:href => "javascript:void(0)"} Back
      %canvas#canvas{:height => "480", :width => "800"}
        %p You're browser does not support the required functionality to play this game.
        %p
          Please update to a modern browser such as
          %a{:href => "www.google.com/chrome/‎"} Google Chrome
          to play.
      #game-over
        %h2{:style => "color:red;"}
          You ran
          %span#score
          meters!
        %a.button.restart{:href => "javascript:void(0)"} Try again?
    %script{:src => "/assets/kandi.js", :type => "text/javascript"}
